.container__carrusel{
    max-width: 98%;
    max-height: 60vh;
    overflow: hidden;
}

.container-Baner__images img{
    width: 100%;
    height: 100%;
}

.container-Baner__sliders span:hover{
    background-color: white;
}

.container-Baner__arrows{
    width: 100%;
    display: flex;
    justify-content: space-between;
    justify-content: center;
    position: absolute;
    bottom: 0%;
    left: 0;
    gap: 20px;
}
.arrow--left, .arrow--right{
    background-color: white;
    border: none;
    padding: 0px;
    cursor: pointer;
}
.arrow--left img{
    width: 50px;
}
.arrow--right img{
    width: 50px;
}
