@import url('https://fonts.googleapis.com/css2?family=Asap+Condensed:ital@1&family=Kanit:wght@800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,wght@0,400;0,500;1,400&family=Inter:wght@200;300;400;500;600&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400;1,500&family=Montserrat:wght@100;800&family=Poltawski+Nowy:ital,wght@0,400;0,500;1,400&display=swap');

:root{
    --color1:#590424;
    --color2:#D6D4E0;
    --color3:white;
    --color4:#B6DCE3;
    --color5:#F8F8D7;
    --color6:#85C6A3;
    --color7:#DF7B67;
    --color8:#1585AC;
    --color9:#9B6612;
    --color10:#BF506E;
}

.container-products{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 50px;
    width: 70%;
    margin: 100px 50px;
    border: 2px solid var(--color6);
    gap: 20px; 
}
.container__SweetProducts{
    gap: 20px;
}
.container-products h2{
    font-family: "kanit", sans-serif;
    font-size: 4.5rem;
    font-style: italic;
    line-height: 83px;
    padding-right: 40px;
    color: var(--color6);
    text-align: right;
}
.container-products h2 span{
    color: #590424;
}
.container-products--img{
    position: relative;
    margin: 0;
    
}
.content-products--name{
    display: flex;
    
    position: absolute;
    top: 0;
    background-color: rgb(133, 198, 163,0.8);
    height: 100%;
    width: 100%;
    flex-direction: column;
    text-align:start;
    transition: transform 0.5s;
    transform: scale(0);
}

.container-products--img:hover .content-products--name{
    transform: scale(1);
    cursor: pointer;
}
.container-products--img img{
    width: 100%;
}
.content-products--name h3{
    font-family: "kanit", sans-serif;
    font-size: 3rem;
    color: var(--color3);
    padding: 200px 30px 30px 0px;
    text-transform: uppercase;
    font-style: italic;
    text-align: right;
}

.container_carrito{
    border: 2px solid var(--color6);
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    margin: 0;
}
.container_carrito h3{
    padding-left: 50px;
}
.container_carrito button{
    background-color: transparent;
    border: none;
}
.container_carrito button img{
    width: 30%;
}
.container_carrito button img:hover{
    cursor: pointer;
}

@media (max-width:1280px){

    .container-products h2{
        font-size: 3.5rem;
    }
    .content-products--name h3{
        padding: 120px 30px 30px 30px;
        font-size: 2.5rem;
    }
    
    }
    
    @media (max-width:1280px){
        .container-products{
            display: grid;
        grid-template-columns: 1fr;
        }
        .content-products--name h3{
            padding: 400px 30px 30px 30px;
            font-size: 2.5rem;
        }
    }
    @media (max-width:920px){
        .content-products--name h3{
            padding: 200px 30px 30px 30px;
            font-size: 2.5rem;
        }
    }
    @media (max-width:920px){
        /*Poner versión definitiva para cel*/
    }